body{
  display: flex;
}
/* section Contact */
.sectionForm{
  border: 2px solid black;
  width: 35rem;
  height: auto;
  margin-top: 15px;
}
 #addContact form{
   display: flex;
   flex-direction: column;

   margin: 10px;
   padding: 10px;
   align-items: center;
 }
 #addContact form input{
   padding: 10px;
   margin: 10px;
 }
 .addContactBtn{
   margin-bottom: 20px;
 }
#contactList{
  padding: 15px;
  margin: 15px;
}
 #contactTable{
   border: 2px solid black;
   width: 400px;
   margin: 10px;
   
 }